<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

    </div>
    <div class="col-lg-2">
    </div>
  <div class="container">
    <form>
      <ul class="flex-outer">
        <li>
          <label for="first-name">voornaam</label>
          <input type="text" id="first-name" placeholder="Typ je voornaam hier">
        </li>
        <li>
          <label for="last-name">Achternaam</label>
          <input type="text" id="last-name" placeholder="Typ je achternaam hier">
        </li>
        <li>
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Typ je email hier">
        </li>
        <li>
          <label for="phone">Telefoonnummer</label>
          <input type="tel" id="phone" placeholder="Typ je telefoonnummer hier">
        </li>
        <li>
          <label for="message">Opmerking</label>
          <textarea rows="6" id="message" placeholder="Typ je opmerking hier"></textarea>
        </li>
        <li>
          <p>Ondernemingsvorm</p>
          <ul class="flex-inner">
            <li>
              <input type="checkbox" id="twenty-to-twentynine">
              <label for="twenty-to-twentynine">BV</label>
            </li>
            <li>
              <input type="checkbox" id="thirty-to-thirtynine">
              <label for="thirty-to-thirtynine">Eenmanszaak.</label>
            </li>
            <li>
              <input type="checkbox" id="fourty-to-fourtynine">
              <label for="fourty-to-fourtynine">VOF</label>
            </li>
            <li>
              <input type="checkbox" id="fifty-to-fiftynine">
              <label for="fifty-to-fiftynine">CV</label>
            </li>
            <li>
              <input type="checkbox" id="sixty-to-sixtynine">
              <label for="sixty-to-sixtynine">Particulier</label>
            </li>
            <li>
              <input type="checkbox" id="other">
              <label for="other">Anders</label>
            </li>
          </ul>
        </li>
        <li>
          <button type="submit">Submit</button>
        </li>
      </ul>
    </form>
  </div>
</div>
