<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right"></span>
                    <h5>Aantal bestellingen</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">577</h1>
                    <div class="stat-percent font-bold text-info">13% <i class="fa fa-level-up"></i></div>
                    <small>Nieuwe bestellingen</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Berichten</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-envelope-o"></i> Nieuwe berichten</h3>
                    <small><i class="fa fa-tim"></i> Je hebt 1 nieuwe bericht(en).</small>
                </div>
                <div class="ibox-content">
                    <div class="feed-activity-list">
                        <div class="feed-element">
                            <div>
                                <small class="pull-right text-navy">1m geleden</small>
                                <strong>DAF Trucks (Voorbeeld)</strong>
                                <div>Hoe lang zijn de kopschotten?</div>
                                <small class="text-muted">Vandaag 15:22 - 05.12.2018</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">

            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Offertes</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Datum/Tijd</th>
                                    <th>Gebruiker</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><small>Bezig...</small></td>
                                    <td><i class="fa fa-clock-o"></i> 11:20</td>
                                    <td>Samantha</td>
                                    <td class="text-navy"> </td>
                                </tr>
                                <tr>
                                    <td><span class="label label-warning">Geannuleerd</span> </td>
                                    <td><i class="fa fa-clock-o"></i> 10:40</td>
                                    <td>Monica</td>
                                    <td class="text-navy"></td>
                                </tr>
                                <tr>
                                    <td><small>Bezig...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 01:30</td>
                                    <td>John</td>
                                    <td class="text-navy"> </td>
                                </tr>
                                <tr>
                                    <td><small>Bezig...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 02:20</td>
                                    <td>Agnes</td>
                                    <td class="text-navy"> </td>
                                </tr>
                                <tr>
                                    <td><small>Bezig...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 09:40</td>
                                    <td>Janet</td>
                                    <td class="text-navy"> </td>
                                </tr>
                                <tr>
                                    <td><span class="label label-primary">Afgerond</span> </td>
                                    <td><i class="fa fa-clock-o"></i> 04:10</td>
                                    <td>Amelia</td>
                                    <td class="text-navy">  </td>
                                </tr>
                                <tr>
                                    <td><small>Bezig...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 12:08</td>
                                    <td>Damian</td>
                                    <td class="text-navy"> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
</div>
